# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

# Media and static (если не храните в репозитории)
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.swp

# Environment variables
.env
